.social-btn {
  background: #000;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  width: 75px;
  height: 75px;
  justify-content: center;
  align-items: center;
  &--Facebook {
    color: white;
    background: #3b5998;
  }
  &--Google {
    color: white;
    background: #dd4b39;
  }
  &:hover {
    cursor: pointer;
  }
}
