/* base style for movie page, small screen size first */

#moviePage-container {
  display: flex;
}

#poster-container {
  padding: 3vw;
}

#desc-container {
  padding: 3vw;
  text-align: center;
}

#cast-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-left: 0;
  padding-left: 0;
}

.cast-item {
  padding: 1vw;
  margin-bottom: 1rem;
  &last-child {
    margin-bottom: 0;
  }
  .cast-profile-img {
    height: 220px;
    width: 150px;
  }
}

/* end */
