/* sizes */
/* colors */
.footer-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between; }

.footer-item {
  align-items: center;
  text-align: center;
  margin: 10px; }

.footer-item--link {
  color: #e50914; }
