@import "../../assets/css/vars.scss";

.signin-page {
  height: calc(100% - (#{$navbarHeight} + #{$footerHeight}));
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/images/movie_poster_bg-min.jpg");
}

.signin-section {
  background-color: $black;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: $MQ600Min) {
  .signin-page {
    height: calc(100% - (#{$navbarHeightMQ600Min} + #{$footerHeight}));
  }
}
