/* sizes */
/* colors */
.signin-page {
  height: calc(100% - (160px + 40px));
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/images/movie_poster_bg-min.jpg"); }

.signin-section {
  background-color: #161616;
  display: flex;
  flex-direction: column; }

@media screen and (min-width: 600px) {
  .signin-page {
    height: calc(100% - (70px + 40px)); } }
