@import "../../assets/css/vars.scss";

.signin-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/images/movie_poster_bg-min.jpg");
}

.signin-section {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8);
}
