@import "../assets/css/mixins.scss";
@import "../assets/css/vars.scss";

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $netflixWhite;
  background: $netflixBlack;
}

#root {
  height: 100%;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
.pointer-cursor {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
