.footer-container{
    margin-top : 150px;


    ul{
        padding : 0;
        li{
            a{
                color: $netflixWhite;
                text-decoration: none;
                display: block;
                padding :10px;
            }
        }
    }
}

