
.list-container {
    max-width:100%;
    padding:0px 50px 0px 50px;
    position:relative;
}

.list-title {
    margin-top: 40px;
    font-weight: bold;
}

.listRow {


    display: flex;
    width: 100%; /////////
    transition: 0.3s transform;
    &:hover {
        transform: translate3d(-120px, 0, 0);
    }
}

@include listingTiles;




::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
/*::-webkit-scrollbar-thumb {
    background: #FF0000;
}*/

button:focus {outline:0 !important;}
  
.left-controls{
    
    position:absolute;
    top:80;
    left:0;
    width:4%;
    height:220px;
    z-index:40;
    background: $netflixBlack;
    opacity:0.5;
    cursor:pointer;
    text-align:center;
    justify-content:center;
    color:#fff;
  
  }
  
  
  .right-controls{
    position:absolute;
    top:80;
    right:0;
    width:4%;
    height:220px;
    z-index:40;
    background: $netflixBlack;
    opacity:0.5;
    cursor:pointer;
    text-align:center;
    justify-content:center;
    color:#fff;
  }
  
  
  #content{
    width:600em;
list-style-type:none;
padding:50px 0 50px 0;



}