.navbar {
    display: flex;
    justify-content: space-between;
    ul {
        margin: 0;
        padding: 10px 20px;
        li {
            display: inline-block;
            .logo {
                margin-right: 30px;
            } //logo
            .browse {
                font-weight: bold;
                color: $netflixRed;
                text-decoration: none;
                padding: 25px;
            } //browse


            .searchInput {
                padding: 5px;
                color: $netflixWhite;
                border: 0;
                background: transparent;
                outline: none;
                &:focus {
                    padding : 2px 5px 2px 5px;
                    border: solid 1px $netflixWhite;
                    border-radius: 3px;
                } //focus
            } //searchInput


            
        } //li
    } //ul
} //navbar

.clearBtn{
    background-color:transparent;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:14px;
    font-weight:bold;
    padding:3px 6px;
    text-decoration:none;
    border: none;

    outline: none;
    &:focus {
        outline: 0;
    }
    &:hover {
        background-color:transparent;
    }
    &:active {
        position:relative;
        top:1px;
    }
}
