@import 'var';
@import 'mixins';
@import './components/nav';
@import './components/footer';
@import './components/homePage/list';
@import './components/homePage/slider';
@import './components/searchPage/search';
@import './components/moviePage/movie';
* {
    margin: 0;
    bottom : 0;
    color: #fff;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
#root{
    
    background: $netflixBlack;
}

body{
  width: 100%;
}
