@import "../../assets/css/modules.scss";

.page-btn-wrapper {
  display: flex;
  &__next-previous {
    @include button;
  }
  &__index {
    margin: 0 5px;
    &:hover {
      cursor: pointer;
    }
    &--current {
      font-weight: 600;
      &:hover {
        cursor: default;
      }
    }
  }
}
