/* Media Queries Break Point*/

$MinMQBreakPointOne: 660px;
$MinMQBreakPointTwo: 1200px;

/* Sizes */

$footerHeight: 40px;
$navbarHeight: 160px;
$navbarHeightMinMQBreakPointOne: 65px;

/* Colors */

$white: #fff;
$verylightgrey: #e0e0e0;
$lightgrey: #b1b1b1;
$grey: #8b8b8b;
$darkgrey: #535353;
$verydarkgrey: #292929;
$black: #000;

$netflixRed: #e50914;
$netflixBlack: #221f1f;
$netflixWhite: #ecf0f1;
$whiteGrey: #a3a3a1;
$imdbYellow: #f3ce13;
