/* sizes */

$footerheight: 30px;
$navbarheight: 50px;

$MQ600: 600px;

/* colors */
$netflixRed: #e50914;
$netflixBlack: #221f1f;
$netflixWhite: #ecf0f1;
$whiteGrey: #a3a3a1;

$superwhite: #fff;
$white: #fafafa;
$superlightgrey: #e0e0e0;
$lightgrey: #b1b1b1;
$grey: #8b8b8b;
$darkgrey: #535353;
$superdarkgrey: #292929;
$black: #161616;
$superblack: #000;

$purple: #4e3a4c;
$darkpurple: #3e313c;

$dark_nav_link_color: #292929;

$bright-teal: #31dad1;
$light-bright-teal: #a2ffe0;
$light-teal: rgb(127, 253, 232);
$super-light-teal: rgb(183, 233, 231);
$light-orange: rgb(247, 215, 214);
