@import "../../../assets/css/vars.scss";
@import "../../../assets/css/modules.scss";

.button {
  @include button(
    $size: 15px,
    $color: $black,
    $bgColor: $white,
    $padding: 5px,
    $borderColor: $light-grey,
    $radius: 3px
  );
}
