@include maxMediaQueries(1400px) {
    .tile {
        width: $tileWidth*0.95;
        height: $tileHeight*0.95;
        &:hover {
            transform: scale(1.7);
        }
        &:hover~.tile {
            transform: translate3d(190px, 0, 0);
        }
    }
    .listRow {
        &:hover {
        transform: translate3d(-110px, 0, 0);
        }
    }
}

@include maxMediaQueries(750px) {
    .playbtn-container {
        margin: 18px 0px 5px 0px;
    }
    .tile {
        width: $tileWidth*0.8;
        height: $tileHeight*0.8;
        &:hover {
            transform: scale(1.4);
        }
        &:hover~.tile {
            transform: translate3d(90px, 0, 0);
        }
    }
    .tile-title {
        font-size: .8em;
    }
    .listRow {
        &:hover {
            transform: translate3d(-70px, 0, 0);
        }
    }
}
@include maxMediaQueries(445px) {
    .playbtn-container {
        margin: 15px 0px 0px 0px;
    }
    .tile {
        width: $tileWidth*0.75;
        height: $tileHeight*0.75;
        &:hover {
            transform: scale(1.3);
        }
        &:hover~.tile {
            transform: translate3d(65px, 0, 0);
        }
    }
    .tile-title {
        font-size: .7em;
    }
    .listRow {
        &:hover {
            transform: translate3d(-60px, 0, 0);
        }
    }
}
