@import "../../assets/css/vars.scss";

.signup-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/images/movie_poster_bg-min.jpg");
}
.signup-section {
  background-color: $black;
  display: flex;
  flex-direction: column;
}
